{{#link-to 'styleguide'}}Style guide{{/link-to}}

<section>
  <div class='jumbotron'>
    <img src="https://s3.amazonaws.com/streetheart/denver+street+art+hero.jpg" alt="Denver street art" />
  </div>
  <div class='social-box'>
    <span><button class="twitter">/auth/twitter</button></span>
    <span><button class="instagram">/auth/instagram</button></span>
  </div>
  <div class='photocred'>
    Street art by Daniel Chavez  Keno Gonzales | Eddie Huang, Michael Kraus  Jacobo Gonzalez
  </div>

{{outlet news}}

</section>

<hr>

<section>
  <div class='container-fluid'>

    {{outlet galleryWindow}}

    {{outlet galleryAside}}

  </div>
</section>

<hr>

<section>

  {{outlet artists}}

</section>
<hr>
<div>
  How do I use this in Ember???
  - content_for(:js) do
    :javascript
      $(function(){
        MapFunctions.homeMap();
      });
</div>


{{outlet}}
